name: Deploy Update to Development
run-name: Build Image for Development has been triggered by CI

on:
  push:
    branches:
      - development

jobs:
  deploy:
    uses: Undercurrent-Technologies/vetapp_frontend/.github/workflows/reusable_image_build.yml@development
    permissions:
      id-token: write
      contents: read
    with:
      environment: development
      version_tag: development-$GITHUB_RUN_NUMBER
    secrets: inherit
