name: Deploy Update to Development
run-name: Build Image for Development has been triggered by CI

on:
  push:
    branches:
      - development

jobs:
  deploy:
    uses: Undercurrent-Technologies/tapp-display-engine/.github/workflows/reusable_image_build.yml@development
    permissions:
      id-token: none
      contents: read
    with:
      environment: development
    secrets: inherit
