name: Build Dev Image

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
env:
  REGISTRY: ghcr.io
  REPO_NAME: undercurrent-technologies
  PROJECT: tapp-dex
  ENV_APP: ${{ inputs.environment }}

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      packages: none
      contents: read

    environment:
      name: ${{ inputs.environment }}

    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Parse environment file
        run: |
          cat <<EOF > .env
            ${{ vars.ENV }}
          EOF
  
      - name: Build and push image
        uses: ./.github/actions/build
        with:
          docker_context: .
          environment: ${{ inputs.environment }}
          ghcr_token: ${{ secrets.ACCESS_TOKEN }}
          ghcr_username: ${{ secrets.ACCESS_USER }}
          build_args: |
            ACCESS_USER=${{ secrets.ACCESS_USER }}
            ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }}

  deployservices:
    runs-on: ubuntu-latest
    needs: [build]

    permissions:
      packages: none
      contents: read

    env:
      DEPLOY_URL: "https://github.com/Undercurrent-Technologies/devops-service.git"
      APPS_NAME: "vetapp"

    environment:
      name: ${{ inputs.environment }}

    steps:
      - name: Install sed
        run: sudo apt-get install sed -y

      - name: Fetch Service
        run: |
          git config --global url.https://${{ secrets.ACCESS_USER }}:${{ secrets.ACCESS_TOKEN }}@github.com/.insteadOf https://github.com
          git clone $DEPLOY_URL

      - name: Modify YAML file
        run: |
          for APP_NAME in $APPS_NAME; do
            sed -i "s|tag:.*|tag: ${{inputs.environment}}-${{github.run_number}}|g" devops-service/helm/values/${PROJECT}-${APP_NAME}/values-${ENV_APP}.yaml
          done

      - uses: leigholiver/commit-with-deploy-key@v1.0.4
        with:
          source: devops-service/helm/values/
          destination_folder: helm/values/
          destination_repo: Undercurrent-Technologies/devops-service
          destination_branch: master
          deploy_key: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
          commit_message: "[skip ci] bump version ${{ env.PROJECT }} ${{ inputs.environment }}-${{ github.run_id }}"
