name: Deploy Configmap to Development Server
run-name: Deploy CM for Development has been triggered by CI

on:
  push:
    branches:
      - development
jobs:
  deploy:
    uses: Undercurrent-Technologies/vetapp_frontend/.github/workflows/reusable_kube_cm_dev_deployment.yml@development
    permissions:
      id-token: none
      contents: read
    with:
      environment: development
    secrets: inherit
